@model dynamic
<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label" for="RateRestriction_RatePlanId">Rate Plan</label>
        <select class="form-select" id="RateRestriction_RatePlanId" name="RateRestriction.RatePlanId">
            <option value="">All rate plans</option>
            @foreach (var item in Model.RatePlanOptions)
            {
                <option value="@item.Value" selected="@item.Selected">@item.Text</option>
            }
        </select>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label" for="RateRestriction_RoomTypeId">Room Type</label>
        <select class="form-select" id="RateRestriction_RoomTypeId" name="RateRestriction.RoomTypeId">
            <option value="">All room types</option>
            @foreach (var item in Model.RoomTypeOptions)
            {
                <option value="@item.Value" selected="@item.Selected">@item.Text</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-3">
        <label class="form-label" for="RateRestriction_RestrictionDate">Restriction Date</label>
        <input class="form-control" id="RateRestriction_RestrictionDate" name="RateRestriction.RestrictionDate" type="date" value="@Model.RateRestriction.RestrictionDate.ToString("yyyy-MM-dd")" />
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label" for="RateRestriction_MinimumLengthOfStay">Minimum LOS</label>
        <input class="form-control" id="RateRestriction_MinimumLengthOfStay" name="RateRestriction.MinimumLengthOfStay" type="number" min="1" value="@Model.RateRestriction.MinimumLengthOfStay" />
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label" for="RateRestriction_MaximumLengthOfStay">Maximum LOS</label>
        <input class="form-control" id="RateRestriction_MaximumLengthOfStay" name="RateRestriction.MaximumLengthOfStay" type="number" min="1" value="@Model.RateRestriction.MaximumLengthOfStay" />
    </div>
</div>
<div class="d-flex flex-wrap gap-3 mb-3">
    <div class="form-check"><input name="RateRestriction.ClosedToArrival" type="hidden" value="false" /><input class="form-check-input" id="RateRestriction_ClosedToArrival" name="RateRestriction.ClosedToArrival" type="checkbox" value="true" checked="@Model.RateRestriction.ClosedToArrival" /><label class="form-check-label" for="RateRestriction_ClosedToArrival">Closed to arrival</label></div>
    <div class="form-check"><input name="RateRestriction.ClosedToDeparture" type="hidden" value="false" /><input class="form-check-input" id="RateRestriction_ClosedToDeparture" name="RateRestriction.ClosedToDeparture" type="checkbox" value="true" checked="@Model.RateRestriction.ClosedToDeparture" /><label class="form-check-label" for="RateRestriction_ClosedToDeparture">Closed to departure</label></div>
    <div class="form-check"><input name="RateRestriction.StopSell" type="hidden" value="false" /><input class="form-check-input" id="RateRestriction_StopSell" name="RateRestriction.StopSell" type="checkbox" value="true" checked="@Model.RateRestriction.StopSell" /><label class="form-check-label" for="RateRestriction_StopSell">Stop sell</label></div>
</div>
<div class="mb-3">
    <label class="form-label" for="RateRestriction_Notes">Notes</label>
    <textarea class="form-control" id="RateRestriction_Notes" name="RateRestriction.Notes" rows="3">@Model.RateRestriction.Notes</textarea>
</div>
